<div class="recordViewer">
  <table class="table table-hover">
    <thead>
      <tr class="thead-light">
        <th *ngFor="let item of headers">{{ item.title }}</th>
        <th *ngIf="actions.length > 0">{{ actionsTitle }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading">
        <tr *ngFor="let item of data">
          <ng-container *ngFor="let head of headers">
            <th
              style="
                max-width: 200px;
                text-overflow: ellipsis;
                text-overflow: ellipsis;
                overflow: hidden;
              "
            >
              {{ validate(head, item) }}
            </th>
          </ng-container>
          <th *ngIf="actions.length > 0">
            <div class="d-flex">
              <a
                placement="top"
                [ngbTooltip]="action.tooltip"
                class="m-1"
                triggers="hover"
                [class]="action.color ? action.color : 'default'"
                (click)="
                  onActionClick.emit({ action: action.key, id: item.id });
                  $event.target.blur();
                  $event.target.parentNode.blur()
                "
                *ngFor="let action of actions"
                href="javascript:void(0)"
              >
                <i [class]="action.icon"></i>
              </a>
            </div>
          </th></tr
      ></ng-container>

      <ng-container *ngIf="isLoading">
        <tr *ngFor="let number of [0, 1, 2]">
          <ng-container *ngFor="let head of headers">
            <th>
              <ngx-skeleton-loader
                [theme]="{
                  height: '25px',
                  'margin-bottom': '-10px',
                  'margin-top': '-15px'
                }"
              ></ngx-skeleton-loader>
            </th>
          </ng-container>
          <th *ngIf="actions.length > 0">
            <ngx-skeleton-loader
              [theme]="{
                height: '25px',
                'margin-bottom': '-10px',
                'margin-top': '-15px'
              }"
            ></ngx-skeleton-loader>
          </th></tr
      ></ng-container>
    </tbody>
  </table>
  <div *ngIf="data.length <= 0 && !isLoading" class="p-2 pl-3">
    <small> <b>No se encontrarón datos</b> </small>
  </div>
</div>
